In [1]:
%load_ext sql
%sql postgresql://appdev@data:5432/appdev

'Connected: appdev@appdev'

In [2]:
%%sql select forename,surname,driverid,sum(rank) as wins from drivers 
join results using (driverid) where results.rank = 1 
group by driverid 
order by wins desc

31 rows affected.

[('Kimi', 'Räikkönen', 8, Decimal('41')),
 ('Lewis', 'Hamilton', 1, Decimal('38')),
 ('Sebastian', 'Vettel', 20, Decimal('31')),
 ('Fernando', 'Alonso', 4, Decimal('22')),
 ('Michael', 'Schumacher', 30, Decimal('21')),
 ('Nico', 'Rosberg', 3, Decimal('20')),
 ('Mark', 'Webber', 17, Decimal('18')),
 ('Felipe', 'Massa', 13, Decimal('15')),
 ('Daniel', 'Ricciardo', 817, Decimal('9')),
 ('Jenson', 'Button', 18, Decimal('8')),
 ('Rubens', 'Barrichello', 22, Decimal('6')),
 ('Sergio', 'Pérez', 815, Decimal('4')),
 ('Juan', 'Pablo Montoya', 31, Decimal('3')),
 ('Nick', 'Heidfeld', 2, Decimal('2')),
 ('Heikki', 'Kovalainen', 5, Decimal('2')),
 ('Nico', 'Hülkenberg', 807, Decimal('2')),
 ('Ralf', 'Schumacher', 23, Decimal('1')),
 ('Jarno', 'Trulli', 15, Decimal('1')),
 ('Timo', 'Glock', 10, Decimal('1')),
 ('Valtteri', 'Bottas', 822, Decimal('1')),
 ('Kamui', 'Kobayashi', 155, Decimal('1')),
 ('Vitaly', 'Petrov', 808, Decimal('1')),
 ('Bruno', 'Senna', 811, Decimal('1')),
 ('Max', 'Verstappen', 830, Decimal('1')),
 ('Esteban', 'Gutiérrez', 821, Decimal('1')),
 ('Robert', 'Kubica', 9, Decimal('1')),
 ('Giancarlo', 'Fisichella', 21, Decimal('1')),
 ('Pedro', 'de la Rosa', 37, Decimal('1')),
 ('Adrian', 'Sutil', 16, Decimal('1')),
 ('Romain', 'Grosjean', 154, Decimal('1')),
 ('Daniil', 'Kvyat', 826, Decimal('1'))]

In [3]:
%%sql select drivers.driverref, constructors.name, count(constructorid) as "driven x times" from drivers 
join results using (driverid) 
join constructors using (constructorid)
group by driverid,constructors.name
order by "driven x times" desc
limit 50

50 rows affected.

[('michael_schumacher', 'Ferrari', 181),
 ('coulthard', 'McLaren', 150),
 ('massa', 'Ferrari', 140),
 ('button', 'McLaren', 137),
 ('rosberg', 'Mercedes', 136),
 ('hakkinen', 'McLaren', 133),
 ('laffite', 'Ligier', 132),
 ('webber', 'Red Bull', 129),
 ('raikkonen', 'Ferrari', 126),
 ('vettel', 'Red Bull', 113),
 ('hamilton', 'McLaren', 110),
 ('prost', 'McLaren', 109),
 ('martini', 'Minardi', 106),
 ('alonso', 'Renault', 106),
 ('barrichello', 'Ferrari', 104),
 ('mansell', 'Williams', 97),
 ('berger', 'Ferrari', 96),
 ('alonso', 'Ferrari', 96),
 ('senna', 'McLaren', 96),
 ('ralf_schumacher', 'Williams', 94),
 ('hamilton', 'Mercedes', 93),
 ('piquet', 'Brabham', 92),
 ('sutil', 'Force India', 92),
 ('angelis', 'Team Lotus', 91),
 ('trulli', 'Toyota', 91),
 ('raikkonen', 'McLaren', 88),
 ('villeneuve', 'BAR', 82),
 ('patrese', 'Williams', 81),
 ('depailler', 'Tyrrell', 80),
 ('alboreto', 'Ferrari', 80),
 ('alesi', 'Ferrari', 79),
 ('hulkenberg', 'Force India', 79),
 ('bottas', 'Williams', 78),
 ('emerson_fittipaldi', 'Fittipaldi', 77),
 ('grosjean', 'Lotus F1', 76),
 ('watson', 'McLaren', 75),
 ('mario_andretti', 'Team Lotus', 75),
 ('ricciardo', 'Red Bull', 74),
 ('perez', 'Force India', 74),
 ('massa', 'Williams', 73),
 ('regazzoni', 'Ferrari', 73),
 ('ghinzani', 'Osella', 73),
 ('coulthard', 'Red Bull', 72),
 ('rosberg', 'Williams', 70),
 ('heidfeld', 'BMW Sauber', 70),
 ('alonso', 'McLaren', 69),
 ('montoya', 'Williams', 68),
 ('michael_schumacher', 'Benetton', 68),
 ('gilles_villeneuve', 'Ferrari', 67),
 ('fisichella', 'Benetton', 66)]

In [4]:
%%sql select drivers.driverref, constructors.name, count(constructorid) as "driven x times" from drivers 
join results using (driverid) 
join constructors using (constructorid)
join status using (statusid)
where status like 'Finished'
group by driverid,constructors.name
order by "driven x times" desc
limit 50

50 rows affected.

[('michael_schumacher', 'Ferrari', 141),
 ('massa', 'Ferrari', 112),
 ('rosberg', 'Mercedes', 109),
 ('webber', 'Red Bull', 100),
 ('vettel', 'Red Bull', 97),
 ('raikkonen', 'Ferrari', 92),
 ('button', 'McLaren', 87),
 ('alonso', 'Ferrari', 87),
 ('hamilton', 'Mercedes', 85),
 ('coulthard', 'McLaren', 85),
 ('hamilton', 'McLaren', 84),
 ('alonso', 'Renault', 80),
 ('barrichello', 'Ferrari', 73),
 ('hakkinen', 'McLaren', 70),
 ('prost', 'McLaren', 69),
 ('senna', 'McLaren', 61),
 ('ricciardo', 'Red Bull', 56),
 ('ralf_schumacher', 'Williams', 54),
 ('raikkonen', 'McLaren', 52),
 ('bottas', 'Williams', 52),
 ('hulkenberg', 'Force India', 49),
 ('vettel', 'Ferrari', 48),
 ('heidfeld', 'BMW Sauber', 47),
 ('mansell', 'Williams', 46),
 ('michael_schumacher', 'Benetton', 44),
 ('damon_hill', 'Williams', 43),
 ('trulli', 'Toyota', 42),
 ('massa', 'Williams', 41),
 ('lauda', 'Ferrari', 40),
 ('patrese', 'Williams', 39),
 ('kubica', 'BMW Sauber', 39),
 ('laffite', 'Ligier', 39),
 ('montoya', 'Williams', 39),
 ('perez', 'Force India', 38),
 ('regazzoni', 'Ferrari', 37),
 ('irvine', 'Ferrari', 36),
 ('piquet', 'Brabham', 36),
 ('rosberg', 'Williams', 36),
 ('michael_schumacher', 'Mercedes', 34),
 ('resta', 'Force India', 34),
 ('fisichella', 'Renault', 33),
 ('grosjean', 'Lotus F1', 33),
 ('sutil', 'Force India', 33),
 ('raikkonen', 'Lotus F1', 33),
 ('depailler', 'Tyrrell', 32),
 ('berger', 'Ferrari', 31),
 ('berger', 'McLaren', 30),
 ('jones', 'Williams', 29),
 ('alonso', 'McLaren', 29),
 ('villeneuve', 'Williams', 28)]

In [5]:
%%sql select driverid, raceid, sum(milliseconds) as "time spent in pitstops" from drivers
join pitstops using (driverid)
group by driverid,raceid
order by raceid asc
limit 50

50 rows affected.

[(1, 841, Decimal('46426')),
 (2, 841, Decimal('48092')),
 (3, 841, Decimal('23716')),
 (4, 841, Decimal('72165')),
 (5, 841, Decimal('24865')),
 (10, 841, Decimal('23792')),
 (13, 841, Decimal('72437')),
 (15, 841, Decimal('49747')),
 (16, 841, Decimal('49849')),
 (17, 841, Decimal('72176')),
 (18, 841, Decimal('62851')),
 (20, 841, Decimal('46639')),
 (22, 841, Decimal('104700')),
 (30, 841, Decimal('49009')),
 (67, 841, Decimal('48442')),
 (153, 841, Decimal('77709')),
 (155, 841, Decimal('48256')),
 (808, 841, Decimal('50218')),
 (814, 841, Decimal('49195')),
 (815, 841, Decimal('23438')),
 (816, 841, Decimal('51705')),
 (1, 842, Decimal('93011')),
 (2, 842, Decimal('69723')),
 (3, 842, Decimal('70070')),
 (4, 842, Decimal('98040')),
 (5, 842, Decimal('52420')),
 (10, 842, Decimal('49046')),
 (13, 842, Decimal('74658')),
 (15, 842, Decimal('25516')),
 (16, 842, Decimal('76290')),
 (17, 842, Decimal('88793')),
 (18, 842, Decimal('67354')),
 (20, 842, Decimal('67225')),
 (22, 842, Decimal('57480')),
 (24, 842, Decimal('93192')),
 (30, 842, Decimal('67064')),
 (67, 842, Decimal('80562')),
 (153, 842, Decimal('46472')),
 (155, 842, Decimal('46722')),
 (808, 842, Decimal('74556')),
 (814, 842, Decimal('69169')),
 (815, 842, Decimal('23597')),
 (816, 842, Decimal('50668')),
 (1, 843, Decimal('61978')),
 (2, 843, Decimal('44037')),
 (3, 843, Decimal('63496')),
 (4, 843, Decimal('43775')),
 (5, 843, Decimal('44375')),
 (10, 843, Decimal('78418')),
 (13, 843, Decimal('42792'))]

In [12]:
%%sql create VIEW race_pitstops as
select driverid, raceid, sum(milliseconds) as "time spent in pitstops", count(driverid) as "number of pitstops" from drivers
join pitstops using (driverid)
group by driverid,raceid
order by raceid asc

(psycopg2.ProgrammingError) relation "race_pitstops" already exists
 [SQL: 'create VIEW race_pitstops as\nselect driverid, raceid, sum(milliseconds) as "time spent in pitstops", count(driverid) as "number of pitstops" from drivers\njoin pitstops using (driverid)\ngroup by driverid,raceid\norder by raceid asc']

In [14]:
%sql select * from race_pitstops limit 10

10 rows affected.

[(1, 841, Decimal('46426'), 2),
 (2, 841, Decimal('48092'), 2),
 (3, 841, Decimal('23716'), 1),
 (4, 841, Decimal('72165'), 3),
 (5, 841, Decimal('24865'), 1),
 (10, 841, Decimal('23792'), 1),
 (13, 841, Decimal('72437'), 3),
 (15, 841, Decimal('49747'), 2),
 (16, 841, Decimal('49849'), 2),
 (17, 841, Decimal('72176'), 3)]

In [18]:
%%sql select drivers.driverref, constructors.name, count(constructorid) as "driven x times",
p2.tp as "time in pitstop" from drivers 
join results using (driverid) 
join constructors using (constructorid)
join status using (statusid)
join (select driverid,sum("number of pitstops") as np,sum("time spent in pitstops") as tp from race_pitstops group by driverid order by driverid) as p2 using (driverid)
where status like 'Finished'
group by driverid,constructors.name,p2.tp
order by "time in pitstop" desc
limit 50

50 rows affected.

[('ricciardo', 'Red Bull', 56, Decimal('15413157')),
 ('ricciardo', 'Toro Rosso', 22, Decimal('15413157')),
 ('massa', 'Ferrari', 112, Decimal('15250697')),
 ('massa', 'Sauber', 13, Decimal('15250697')),
 ('massa', 'Williams', 41, Decimal('15250697')),
 ('hamilton', 'McLaren', 84, Decimal('14514086')),
 ('hamilton', 'Mercedes', 85, Decimal('14514086')),
 ('perez', 'Force India', 38, Decimal('14504042')),
 ('perez', 'McLaren', 14, Decimal('14504042')),
 ('perez', 'Sauber', 15, Decimal('14504042')),
 ('vettel', 'BMW Sauber', 1, Decimal('14419238')),
 ('vettel', 'Ferrari', 48, Decimal('14419238')),
 ('vettel', 'Red Bull', 97, Decimal('14419238')),
 ('vettel', 'Toro Rosso', 12, Decimal('14419238')),
 ('hulkenberg', 'Force India', 49, Decimal('13348425')),
 ('hulkenberg', 'Renault', 5, Decimal('13348425')),
 ('hulkenberg', 'Sauber', 13, Decimal('13348425')),
 ('hulkenberg', 'Williams', 7, Decimal('13348425')),
 ('alonso', 'Ferrari', 87, Decimal('13229588')),
 ('alonso', 'McLaren', 29, Decimal('13229588')),
 ('alonso', 'Renault', 80, Decimal('13229588')),
 ('bottas', 'Mercedes', 14, Decimal('12590728')),
 ('bottas', 'Williams', 52, Decimal('12590728')),
 ('rosberg', 'Mercedes', 109, Decimal('12390412')),
 ('rosberg', 'Williams', 36, Decimal('12390412')),
 ('button', 'BAR', 27, Decimal('11800713')),
 ('button', 'Benetton', 2, Decimal('11800713')),
 ('button', 'Brawn', 16, Decimal('11800713')),
 ('button', 'Honda', 19, Decimal('11800713')),
 ('button', 'McLaren', 87, Decimal('11800713')),
 ('button', 'Renault', 6, Decimal('11800713')),
 ('button', 'Williams', 4, Decimal('11800713')),
 ('raikkonen', 'Ferrari', 92, Decimal('10001627')),
 ('raikkonen', 'Lotus F1', 33, Decimal('10001627')),
 ('raikkonen', 'McLaren', 52, Decimal('10001627')),
 ('raikkonen', 'Sauber', 5, Decimal('10001627')),
 ('kevin_magnussen', 'Haas F1 Team', 3, Decimal('9722370')),
 ('kevin_magnussen', 'McLaren', 12, Decimal('9722370')),
 ('kevin_magnussen', 'Renault', 3, Decimal('9722370')),
 ('grosjean', 'Haas F1 Team', 11, Decimal('9705071')),
 ('grosjean', 'Lotus F1', 33, Decimal('9705071')),
 ('grosjean', 'Renault', 1, Decimal('9705071')),
 ('kvyat', 'Red Bull', 9, Decimal('9389891')),
 ('kvyat', 'Toro Rosso', 11, Decimal('9389891')),
 ('gutierrez', 'Haas F1 Team', 2, Decimal('8790756')),
 ('gutierrez', 'Sauber', 11, Decimal('8790756')),
 ('nasr', 'Sauber', 9, Decimal('8513533')),
 ('sainz', 'Toro Rosso', 18, Decimal('8356874')),
 ('max_verstappen', 'Red Bull', 22, Decimal('8201124')),
 ('max_verstappen', 'Toro Rosso', 11, Decimal('8201124'))]

In [20]:
%%sql select drivers.driverref, constructors.name, count(constructorid) as "driven x times",
p2.tp as "time in pitstop",p2.tp/p2.np as "time pr stop" from drivers 
join results using (driverid) 
join constructors using (constructorid)
join status using (statusid)
join (select driverid,sum("number of pitstops") as np,sum("time spent in pitstops") as tp from race_pitstops group by driverid order by driverid) as p2 using (driverid)
where status like 'Finished'
group by driverid,constructors.name,"time in pitstop","time pr stop"
order by "time pr stop" asc
limit 50

50 rows affected.

[('michael_schumacher', 'Benetton', 44, Decimal('2028748'), Decimal('22541.644444444444')),
 ('michael_schumacher', 'Ferrari', 141, Decimal('2028748'), Decimal('22541.644444444444')),
 ('michael_schumacher', 'Mercedes', 34, Decimal('2028748'), Decimal('22541.644444444444')),
 ('heidfeld', 'BMW Sauber', 47, Decimal('573333'), Decimal('22933.320000000000')),
 ('heidfeld', 'Renault', 4, Decimal('573333'), Decimal('22933.320000000000')),
 ('heidfeld', 'Sauber', 10, Decimal('573333'), Decimal('22933.320000000000')),
 ('heidfeld', 'Williams', 5, Decimal('573333'), Decimal('22933.320000000000')),
 ('webber', 'Jaguar', 8, Decimal('3345030'), Decimal('23556.549295774648')),
 ('webber', 'Red Bull', 100, Decimal('3345030'), Decimal('23556.549295774648')),
 ('webber', 'Williams', 13, Decimal('3345030'), Decimal('23556.549295774648')),
 ('petrov', 'Caterham', 2, Decimal('2061392'), Decimal('23694.160919540230')),
 ('petrov', 'Renault', 14, Decimal('2061392'), Decimal('23694.160919540230')),
 ('glock', 'Marussia', 2, Decimal('1780796'), Decimal('23743.946666666667')),
 ('glock', 'Toyota', 22, Decimal('1780796'), Decimal('23743.946666666667')),
 ('alguersuari', 'Toro Rosso', 14, Decimal('1026081'), Decimal('23862.348837209302')),
 ('bruno_senna', 'Renault', 2, Decimal('1460252'), Decimal('23938.557377049180')),
 ('bruno_senna', 'Williams', 13, Decimal('1460252'), Decimal('23938.557377049180')),
 ('buemi', 'Toro Rosso', 18, Decimal('984997'), Decimal('24024.317073170732')),
 ('resta', 'Force India', 34, Decimal('3058701'), Decimal('24084.259842519685')),
 ('garde', 'Caterham', 3, Decimal('1197610'), Decimal('24441.020408163265')),
 ('kovalainen', 'Caterham', 3, Decimal('2436258'), Decimal('24608.666666666667')),
 ('kovalainen', 'Lotus', 1, Decimal('2436258'), Decimal('24608.666666666667')),
 ('kovalainen', 'Lotus F1', 1, Decimal('2436258'), Decimal('24608.666666666667')),
 ('kovalainen', 'McLaren', 23, Decimal('2436258'), Decimal('24608.666666666667')),
 ('kovalainen', 'Renault', 11, Decimal('2436258'), Decimal('24608.666666666667')),
 ('barrichello', 'Brawn', 16, Decimal('1230851'), Decimal('24617.020000000000')),
 ('barrichello', 'Ferrari', 73, Decimal('1230851'), Decimal('24617.020000000000')),
 ('barrichello', 'Honda', 18, Decimal('1230851'), Decimal('24617.020000000000')),
 ('barrichello', 'Jordan', 14, Decimal('1230851'), Decimal('24617.020000000000')),
 ('barrichello', 'Stewart', 10, Decimal('1230851'), Decimal('24617.020000000000')),
 ('barrichello', 'Williams', 14, Decimal('1230851'), Decimal('24617.020000000000')),
 ('pic', 'Caterham', 2, Decimal('1930416'), Decimal('24748.923076923077')),
 ('pic', 'Marussia', 2, Decimal('1930416'), Decimal('24748.923076923077')),
 ('ambrosio', 'Lotus F1', 1, Decimal('1043218'), Decimal('24838.523809523810')),
 ('trulli', 'Jordan', 9, Decimal('954047'), Decimal('25106.500000000000')),
 ('trulli', 'Lotus', 1, Decimal('954047'), Decimal('25106.500000000000')),
 ('trulli', 'Prost', 7, Decimal('954047'), Decimal('25106.500000000000')),
 ('trulli', 'Renault', 21, Decimal('954047'), Decimal('25106.500000000000')),
 ('trulli', 'Toyota', 42, Decimal('954047'), Decimal('25106.500000000000')),
 ('rosa', 'Arrows', 2, Decimal('934171'), Decimal('25247.864864864865')),
 ('rosa', 'HRT', 1, Decimal('934171'), Decimal('25247.864864864865')),
 ('rosa', 'Jaguar', 1, Decimal('934171'), Decimal('25247.864864864865')),
 ('rosa', 'McLaren', 6, Decimal('934171'), Decimal('25247.864864864865')),
 ('rosa', 'Sauber', 5, Decimal('934171'), Decimal('25247.864864864865')),
 ('liuzzi', 'Force India', 12, Decimal('1123518'), Decimal('27402.878048780488')),
 ('liuzzi', 'Red Bull', 2, Decimal('1123518'), Decimal('27402.878048780488')),
 ('liuzzi', 'Toro Rosso', 3, Decimal('1123518'), Decimal('27402.878048780488')),
 ('rossi', 'Manor Marussia', 1, Decimal('311537'), Decimal('28321.545454545455')),
 ('maldonado', 'Lotus F1', 11, Decimal('5897026'), Decimal('30241.158974358974')),
 ('maldonado', 'Williams', 21, Decimal('5897026'), Decimal('30241.158974358974'))]